@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --font-display: "Roboto Flex", serif;
    
    --color-bg-primary: var(--color-bg-primary);
    --color-primary: var(--color-primary);
}

@layer base{
    body {
        font-family: var(--font-display);
    }

    [data-theme="dark"] {
        --color-bg-primary:#000;
        --color-primary:#fff;
    }

    [data-theme="light"] {
        --color-bg-primary:#fff;
        --color-primary:#000;
    }
}